---
dist: trusty
language: ruby
cache: bundler
before_install:
  - bundle -v
  - rm -f Gemfile.lock
  - gem update --system $RUBYGEMS_VERSION
  - gem --version
  - bundle -v
script:
  - 'bundle exec rake $CHECK'
bundler_args: --without system_tests
rvm:
  - 2.3.0
  - 2.5.3
stages:
  - static
  - spec
  - acceptance
  -
    if: tag =~ ^v\d
    name: deploy
matrix:
  fast_finish: true
  include:
    -
      rvm: 2.5.3
      env: CHECK="rubocop"
      stage: static
    -
      rvm: 2.5.3
      env: CHECK="check:symlinks check:git_ignore check:dot_underscore check:test_file syntax lint metadata_lint"
      stage: static
    -
      rvm: 2.3.0
      env: PUPPET_GEM_VERSION="~> 3"
      stage: spec
    -
      rvm: 2.3.0
      env: PUPPET_GEM_VERSION="~> 4"
      stage: spec
    -
      env: PUPPET_GEM_VERSION="~> 5.0" CHECK=parallel_spec
      rvm: 2.4.5
      stage: spec
    -
      env: PUPPET_GEM_VERSION="~> 6.0" CHECK=parallel_spec
      rvm: 2.5.3
      stage: spec
    -
      env: DEPLOY_TO_FORGE=yes
      stage: deploy
  
  allow_failures:
    -
      rvm: 2.5.3
      env: CHECK="rubocop"
      stage: static
    - 
      rvm: 2.3.0
      env: PUPPET_GEM_VERSION="~> 3"
      stage: spec
    -
      rvm: 2.3.0
      env: PUPPET_GEM_VERSION="~> 4"
      stage: spec
branches:
  only:
    - master
    - /^v\d/
notifications:
  email: false
deploy:
  provider: puppetforge
  user: example42
  password:
    secure: ""
  on:
    tags: true
    all_branches: true
    condition: "$DEPLOY_TO_FORGE = yes"
